<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Brut.
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'><rect width='60' height='60' fill='%23D9D9D9'/><path d='M15.2344 37.5469L11.5625 22.9531V38.7656C11.5625 39.6406 11.3646 40.2969 10.9688 40.7344C10.5833 41.1719 10.0677 41.3906 9.42188 41.3906C8.79688 41.3906 8.28646 41.1771 7.89062 40.75C7.49479 40.3125 7.29688 39.651 7.29688 38.7656V20.6406C7.29688 19.6406 7.55729 18.9688 8.07812 18.625C8.59896 18.2708 9.30208 18.0938 10.1875 18.0938H11.625C12.4896 18.0938 13.1146 18.1719 13.5 18.3281C13.8958 18.4844 14.1875 18.7656 14.375 19.1719C14.5625 19.5781 14.776 20.2396 15.0156 21.1562L18.3438 33.7031L21.6719 21.1562C21.9115 20.2396 22.125 19.5781 22.3125 19.1719C22.5 18.7656 22.7865 18.4844 23.1719 18.3281C23.5677 18.1719 24.1979 18.0938 25.0625 18.0938H26.5C27.3854 18.0938 28.0885 18.2708 28.6094 18.625C29.1302 18.9688 29.3906 19.6406 29.3906 20.6406V38.7656C29.3906 39.6406 29.1927 40.2969 28.7969 40.7344C28.4115 41.1719 27.8906 41.3906 27.2344 41.3906C26.6198 41.3906 26.1146 41.1719 25.7188 40.7344C25.3229 40.2969 25.125 39.6406 25.125 38.7656V22.9531L21.4531 37.5469C21.2135 38.4948 21.0156 39.1927 20.8594 39.6406C20.7135 40.0781 20.4375 40.4792 20.0312 40.8438C19.625 41.2083 19.0625 41.3906 18.3438 41.3906C17.8021 41.3906 17.3438 41.2708 16.9688 41.0312C16.5938 40.8021 16.3021 40.5052 16.0938 40.1406C15.8854 39.776 15.7188 39.375 15.5938 38.9375C15.4792 38.4896 15.3594 38.026 15.2344 37.5469ZM37.0312 18.0938H43.0781C44.651 18.0938 46 18.2396 47.125 18.5312C48.25 18.8229 49.2708 19.3698 50.1875 20.1719C52.5729 22.2135 53.7656 25.3177 53.7656 29.4844C53.7656 30.8594 53.6458 32.1146 53.4062 33.25C53.1667 34.3854 52.7969 35.4115 52.2969 36.3281C51.7969 37.2344 51.1562 38.0469 50.375 38.7656C49.7604 39.3177 49.0885 39.7604 48.3594 40.0938C47.6302 40.4271 46.8438 40.6615 46 40.7969C45.1667 40.9323 44.224 41 43.1719 41H37.125C36.2812 41 35.6458 40.875 35.2188 40.625C34.7917 40.3646 34.5104 40.0052 34.375 39.5469C34.25 39.0781 34.1875 38.474 34.1875 37.7344V20.9375C34.1875 19.9375 34.4115 19.2135 34.8594 18.7656C35.3073 18.3177 36.0312 18.0938 37.0312 18.0938ZM38.8281 21.7656V37.3125H42.3438C43.1146 37.3125 43.7188 37.2917 44.1562 37.25C44.5938 37.2083 45.0469 37.1042 45.5156 36.9375C45.9844 36.7708 46.3906 36.5365 46.7344 36.2344C48.2865 34.9219 49.0625 32.6615 49.0625 29.4531C49.0625 27.1927 48.7188 25.5 48.0312 24.375C47.3542 23.25 46.5156 22.5365 45.5156 22.2344C44.5156 21.9219 43.3073 21.7656 41.8906 21.7656H38.8281Z' fill='%23010101'/></svg>">

		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
		{% endblock %}

		{% block javascripts %}
			<script src="https://cdn.jsdelivr.net/npm/@hotwired/stimulus@3.2.2/dist/stimulus.umd.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/@hotwired/turbo@7.3.0/dist/turbo.es2017-umd.js"></script>
		{% endblock %}
	</head>
	<body>
		<div class="app-container">
			{% include 'partials/_sidebar.html.twig' %}
			<main class="main-content"> {% block body %}{% endblock %}
				</main>
			</div>
		</body>
	</html>
